@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    cursor: default;
}

@media (min-width: 361px) {

    .musicartlogo {
        position: absolute;
        display: flex;
        width: fit-content;
        height: fit-content;
        top: 4vh;
        left: 44vw;
    }

    .img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .musicart {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0em;
        color: #2E0052;
        margin-top: 1vh;
    }

    .container {
        position: absolute;
        top: 15vh;
        left: 37vw;
        width: 26vw;
        height: fit-content;
        border-radius: 1.3rem;
        border: 0.18rem solid #D9D9D9;
    }

    .containertitle {
        margin-top: 1.5vh;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 450;
        letter-spacing: 0em;
        color: black;
    }

    .yourname {
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: black;
        margin-top: 0.5vh;
    }

    .dem {
        border-radius: 0.5rem;
        border: 0.125rem solid #B6B6B6;
        padding-left: 0.5vw;
        outline: none;
        width: 21vw;
        margin-left: 2vw;
        margin-top: 0.5vh;
        height: 4vh;
    }

    .pass {
        border-radius: 0.5rem;
        border: 0.125rem solid #B6B6B6;
        padding-left: 0.5vw;
        outline: none;
        width: 21vw;
        height: 4vh;
        margin-left: 2vw;
        margin-top: 0.5vh;
    }

    .authmobile {
        width: 21.5vw;
        height: fit-content;
        font-family: 'Roboto', sans-serif;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0em;
        color: #000000;
        margin-left: 2vw;
        margin-top: 0.5vh;
    }

    .continue {
        margin-left: 2vw;
        margin-top: 1vh;
        border-radius: 0.5rem;
        background: #2E0052;
        text-align: center;
        width: 21.7vw;
        height: 4vh;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: white;
        padding-top: 1vh;
    }

    .agree {
        margin-top: 1.8vh;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: #000000;
        width: 21vw;
        height: fit-content;
        padding-bottom: 2.5vh;
    }

    .already {
        position: absolute;
        bottom: 10vh;
        left: 43vw;
        display: flex;
    }

    .account {
        font-family: 'Roboto', 'sans-serif';
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: #000000;
    }

    .signin {
        font-family: 'Roboto', 'sans-serif';
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0em;
        color: #000000;
        cursor: pointer;
    }

    .bottom {
        position: absolute;
        bottom: 0vh;
        width: 100vw;
        height: 5vh;
        background: #2E0052;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 0.85rem;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 2vh;
    }

    .showerror {
        width: fit-content;
        height: fit-content;
        font-family: 'Inter', sans-serif;
        font-size: 0.5rem;
        font-weight: 500;
        letter-spacing: 0em;
        margin-left: 2vw;
        color: #FF0000;
    }

    .dot,
    .noaccount,
    .welcome {
        display: none;
    }

}

@media (max-width: 360px) {

    .signupbgimg {
        position: absolute;
        display: flex;
        width: fit-content;
        height: fit-content;
        top: 1.2vh;
        left: 4vw;
    }

    .navbar {
        position: absolute;
        width: 100vw;
        height: 7vh;
        background: #2E0052;
    }

    .welcome {
        position: absolute;
        top: 8vh;
        left: 3vw;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: #2E0052;
    }

    .img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .musicart {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: white;
        margin-top: 0.6vh;
        margin-left: 1vw;
    }

    .container {
        position: absolute;
        top: 14vh;
        left: 3vw;
        width: 93vw;
        height: fit-content;
        border-radius: 0.3rem;
        border: 0.125rem solid #D0D0D0;
    }

    .dot {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 450;
        letter-spacing: 0em;
        color: black;
        margin-top: 1.5vh;
    }

    .noaccount {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 0em;
        color: black;
        margin-top: 2.1vh;
        margin-left: 1vw;
    }

    .containertitle {
        margin-top: 1.5vh;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 450;
        letter-spacing: 0em;
        color: black;
    }

    .yourname {
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: black;
        margin-top: 0.7vh;
    }

    .dem {
        border-radius: 0.25rem;
        border: 0.065rem solid #B6B6B6;
        padding-left: 2vw;
        outline: none;
        width: 84vw;
        height: 4vh;
        margin-left: 2vw;
        margin-top: 0.4vh;
    }

    .pass {
        border-radius: 0.25rem;
        border: 0.065rem solid #B6B6B6;
        padding-left: 2vw;
        outline: none;
        width: 84vw;
        height: 4vh;
        margin-left: 2vw;
        margin-top: 0.4vh;
    }

    .authmobile {
        width: 84vw;
        height: fit-content;
        font-family: 'Roboto', sans-serif;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0em;
        color: #000000;
        margin-left: 2vw;
        margin-top: 0.5vh;
    }

    .continue {
        margin-left: 2vw;
        margin-top: 1vh;
        border-radius: 0.5rem;
        background: #2E0052;
        text-align: center;
        width: 88vw;
        height: 4vh;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: white;
        padding-top: 1vh;
    }

    .agree {
        margin-top: 1.8vh;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: #000000;
        width: 84vw;
        height: fit-content;
        padding-bottom: 2vh;
    }

    .already {
        position: absolute;
        bottom: 9vh;
        left: 23vw;
        display: flex;
    }

    .account {
        font-family: 'Roboto', 'sans-serif';
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0em;
        color: #000000;
    }

    .signin {
        font-family: 'Roboto', 'sans-serif';
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0em;
        color: #000000;
        cursor: pointer;
    }

    .bottom {
        position: absolute;
        bottom: 0vh;
        width: 100vw;
        height: 5vh;
        background: #2E0052;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 0.85rem;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 2vh;
    }

    .showerror {
        width: fit-content;
        height: fit-content;
        font-family: 'Inter', sans-serif;
        font-size: 0.5rem;
        font-weight: 500;
        letter-spacing: 0em;
        margin-left: 2vw;
        color: #FF0000;
    }
}